// ===============
// colors palette
// ===============
:root {
  --Banya-Base-color-Black-3: #00000008;
  --Banya-Base-color-Black-100: #000000;
  --Banya-Base-color-Dark-Background: #14120D;
  --BanBa-Base-color-White-10: #FFFFFF1A;
  --Banya-Base-color-White-100: #FFFFFF;
  --Banya-Base-color-White-25: #FFFFFF40;
  --Banya-Base-color-White-5: #FFFFFF0D;
  --Banya-Base-color-White-50: #FFFFFF80;
  --Banya-Base-color-White-10: rgba(255, 255, 255, 0.10);
  --Banya-Brown-100: #E4DCCF;
  --Banya-Brown-200: #D1C5B1;
  --Banya-Brown-300: #BDAF95;
  --Banya-Brown-400: #A9997B;
  --Banya-Brown-50: #F6F3EF;
  --Banya-Brown-500: #958464;
  --Banya-Brown-600: #807050;
  --Banya-Brown-700: #6B5D3F;
  --Banya-Brown-800: #564A31;
  --Banya-Brown-900: #413825;
  --Banya-Brown-source: #BAA886;
  --Banya-Graphite-100: #DDDDDD;
  --Banya-Graphite-200: #C6C6C6;
  --Banya-Graphite-300: #B0B0B0;
  --Banya-Graphite-400: #9B9B9B;
  --Banya-Graphite-50: #F3F3F3;
  --Banya-Graphite-500: #868686;
  --Banya-Graphite-600: #727272;
  --Banya-Graphite-700: #5E5E5E;
  --Banya-Graphite-800: #4B4B4B;
  --Banya-Graphite-900: #393939;
  --Banya-Graphite-source: #282828;
  --Banya-Green-100: #CDE1DD;
  --Banya-Green-200: #ADCDC7;
  --Banya-Green-300: #8FB9B1;
  --Banya-Green-400: #74A49C;
  --Banya-Green-50: #EEF5F4;
  --Banya-Green-500: #5B9087;
  --Banya-Green-600: #467B73;
  --Banya-Green-700: #35675F;
  --Banya-Green-800: #27534C;
  --Banya-Green-900: #1E3F3A;
  --Banya-Green-source: #003E37;
}
