//==== System fonts styles=============================================================================================
.system-fonts {
  color: var(--Banya-Base-color-White-100);
  &--14-light-caps {
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &--14-medium {
    font-weight: 500;
    line-height: 1.4;
  }
  &--14-extra-light {
    font-weight: 250;
    line-height: 1.4;
  }
  &--12-extra-light {
    font-size: 12px;
    font-weight: 250;
    line-height: 1.4;
  }
  &--12-light-caps {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.12px;
    text-transform: uppercase;
  }
  &--10-light-caps {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.1px;
    text-transform: uppercase;
  }
}
.body-fonts {
  color: var(--banya-graphite-600);
  &--22-extra-light {
    font-size: 22px;
    font-weight: 250;
    line-height: 1.3;
  }
  &--18-light {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
  }
  &--16-light {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  &--14-extra-light {
    font-size: 14px;
    font-weight: 250;
    line-height: 1.5;
  }
  &--14-medium {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
  }
  &--12-extra-light {
    font-size: 12px;
    font-weight: 250;
    line-height: 1.3;
  }
}
.heading-fonts {
  color: var(--banya-brown-500);
  &--32-extralight {
    font-size: 32px;
    font-weight: 250;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &--32-light {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 1px;
  }
  &--22-extralight {
    font-size: 22px;
    font-weight: 250;
    line-height: 1.2;
    letter-spacing: 1px;
  }
  &--22-extralight-caps {
    font-size: 22px;
    font-weight: 250;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &--18-light {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &--16-regular {
    font-size: 16px;
    line-height: 1.4;
  }
  &--16-extra-light {
    font-size: 16px;
    font-weight: 250;
    line-height: 1.4;
  }
  &--14-regular-caps {
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
  }
}
.art-heading {
  font-family: "Jeferson", sans-serif;
  color: var(--Banya-Graphite-800);
  &--32 {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.3;
  }
  &--22 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 1px;
  }
  &--16 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &--14 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
.heading-title {
  font-size: 22px;
  font-weight: 250;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  @media (min-width: $pc) {
    font-size: 32px;
  }
}
.heading-subtitle {
  font-family: "Jeferson", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  @media (min-width: $pc) {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
.paragraph {
  font-size: 14px;
  font-weight: 250;
  line-height: 1.5;
  @media (min-width: $pc) {
    font-size: 16px;
    font-weight: 300;
  }
}
//==== Text styles=============================================================================================
