.faq {
  padding: 32px 0 64px;
  background-repeat: no-repeat;
  background-size: 576px 502px;
  background-position: calc(100% + 300px) center;
  background-color: var(--Banya-Base-color-White-100);
  @media (min-width: $pc) {
    padding: 0;
  }
  // .faq__container
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 48px;
    row-gap: 32px;
    @media (min-width: $pc) {
      padding: 0;
      margin: 0;
      width: 100%;
      max-width: 100%;
      gap: 0;
    }
    @media (min-width: 1921px){
        max-width: 1920px;
      margin: 0 auto;
    }
  }
  // .faq__left-col
  &__left-col {
    flex: 1 0 0;
    min-width: 256px;
    max-width: 376px;
    @media (min-width: $pc) {
      max-width: 528px;
    }
    @media (min-width: 1381px){
        max-width: 748px;
    }
  }
  // .faq__image-holder
  &__image-holder {
    width: 100%;
    height: 376px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 16px;
      object-fit: cover;
    }
    @media (min-width: $pc) {
      position: relative;
      height: 100%;
      //min-height: 558px;
      img {
        height: 100%;
        border-radius: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
      //&.active {
      //  //height: 100%;
      //}
    }
  }
  // .faq__right-col
  &__right-col {
    flex: 1 0 0;
    min-width: 256px;
    max-width: 376px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    @media (min-width: $pc) {
      max-width: 100%;
      row-gap: 48px;
      //margin-top: auto;
      //margin-bottom: auto;
      padding-top: 128px;
      padding-bottom: 128px;
    }
  }
  // .faq__heading
  &__heading {
  }
  .heading {
    // .heading__title-box
    &__title-box {
      min-width: unset;
      width: fit-content;
      max-width: unset;
    }
    // .heading__right-col
    &__right-col {
      &::before {
        display: none;
      }
      @media (min-width: $pc) {
        &::before {
          width: 100%;
          display: block;
        }
      }
    }
  }
  .accordion {
    &__wrapper {
      @media (any-hover: hover) {
        &:hover {
          .accordion__title {
            background: var(--Banya-Base-color-Black-3);
            color: var(--Banya-Brown-500);
          }
          .accordion__close {
            &::before, &::after {
              background: var(--Banya-Brown-500);
            }
          }
        }
      }
    }
  }
}
