.two-column {
  position: relative;
  padding: 64px 0;
  background: var(--Banya-Brown-50);
  @media (min-width: $pc) {
    padding: 128px 0;
  }
  // .two-column__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
  }
  // .two-column__heading
  &__heading {
  }
  // .two-column__content
  &__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 124px;
    row-gap: 48px;
  }
  // .two-column__left-col
  &__left-col {
    flex: 1 0 0;
    min-width: 256px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    @media (min-width: $pc) {
      row-gap: 48px;
    }
  }
  // .two-column__image-holder
  &__image-holder {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 256px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
    @media (min-width: $pc) {
      height: 376px;
    }
  }
  // .two-column__text-box
  &__text-box {
    position: relative;
    z-index: 5;
  }
  // .two-column__accent-block
  &__accent-block {
  }
  // .two-column__right-col
  &__right-col {
    flex: 1 0 0;
    min-width: 256px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    @media (min-width: $pc) {
      row-gap: 48px;
    }
  }
  .heading {
    // .heading__top
    &__top {
    }
    // .heading__title-box
    &__title-box {
      @media (min-width: $pc) {
        width: fit-content;
        max-width: 100%;
      }
    }
    // .heading__subtitle
    &__subtitle {
    }
    // .heading__title
    &__title {
    }
    // .heading__right-col
    &__right-col {
    }
    // .heading__icon-holder
    &__icon-holder {
    }
  }
}
.text-box {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  @media (min-width: $pc) {
    row-gap: 24px;
  }
  // .text-box__heading
  &__heading {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -16px;
      width: 100%;
      height: 1px;
      background: var(--Banya-Graphite-100);
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    @media (min-width: $pc) {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      &::after{
        bottom: -24px;
      }
    }
  }
  // .text-box__number
  &__number {
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 100px;
    left: -48px;
    top: -32px;
    color: var(--Banya-Brown-100);
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Jeferson", sans-serif;
    font-size: 100px;
    font-weight: 400;
    line-height: 1;
    @media (min-width: $pc) {
      font-size: 150px;
      left: -56px;
    }
  }
  // .text-box__title
  &__title {
    color: var(--Banya-Graphite-800);
    font-size: 22px;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  // .text-box__subtitle
  &__subtitle {
    line-height: 1.2;
  }
  // .text-box__text-holder
  &__text-holder {
    font-weight: 200;
    // .text-box__text-holder--large
    &--large {
      line-height: 1.5;
      @media (min-width: $pc) {
        font-size: 16px;
        font-weight: 300;
      }
    }
    // .text-box__text-holder--small
    &--small {
      font-size: 12px;
      line-height: 1.3;
      @media (min-width: $pc) {
        font-size: $fontSize;
        font-weight: 200;
        line-height: 1.5;
      }
    }
  }
}
.accent-block {
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  border-radius: 12px;
  background: var(--Banya-Base-color-Black-3);
  @media (min-width: $pc) {
    padding: 24px;
    row-gap: 16px;
  }
  // .accent-block__book-mark
  &__book-mark {
    position: absolute;
    top: 0;
    right: 30px;
    width: 18px;
    height: 18px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .accent-block__title
  &__title {
    color: var(--Banya-Graphite-800);
    font-size: 22px;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
    @media (min-width: $pc) {
      font-size: 32px;
    }
  }
  // .accent-block__text-holder
  &__text-holder {
    font-size: 12px;
    font-weight: 200;
    line-height: 1.3;
    @media (min-width: $pc) {
      font-size: $fontSize;
      line-height: 1.5;
    }
  }
  // .accent-block__link
  &__link {
  }
  // .accent-block__session-container
  &__session-container {
  }
  // .accent-block__price-container
  &__price-container {
  }
}
.session-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px 0;
  // .session-container__item
  &__item {
  }
}
.item-session-container {
  display: flex;
  gap: 8px;
  // .item-session-container__range
  // .item-session-container__value
  &__value, &__range {
    width: fit-content;
    font-weight: 200;
    line-height: 1.4;
    padding: 4px 6px;
    border-radius: 8px;
    border: 1px solid var(--Banya-Graphite-100);
  }
  // .item-session-container__line
  &__line {
    flex: 1 0 0;
    position: relative;
    span {
      display: block;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-top: 1px dashed var(--Banya-Graphite-100);
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 3px;
        width: 8px;
        height: 8px;
        border-top: 1px solid var(--Banya-Graphite-100);
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid var(--Banya-Graphite-100);
        transform: rotate(45deg) translateY(calc(-50% - 3px));
      }
    }
  }
}
.price-container {
  padding: 8px;
  position: relative;
  display: flex;
  gap: 4px;
  // .price-container__icon-holder
  &__icon-holder {
    position: absolute;
    right: 0;
    top: -8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .price-container__left-col
  &__left-col {
  }
  // .price-container__line
  &__line {
    flex: 1 0 0;
    position: relative;
    span {
      display: block;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-top: 1px dashed var(--Banya-Graphite-100);
    }
  }
  // .price-container__right-col
  &__right-col {
  }
}
.price-container-inner {
  display: flex;
  align-items: center;
  gap: 4px;
  // .price-container-inner__left-col
  &__left-col {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    @media (min-width: $pc) {
      row-gap: 4px;
    }
  }
  // .price-container-inner__old-price-box
  &__old-price-box {
  }
  // .price-container-inner__title
  &__title {
    color: var(--Banya-Brown-500);
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    @media (min-width: $pc) {
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: 0.12px;
    }
  }
  // .price-container-inner__current-price
  &__current-price {
    color: var(--Banya-Graphite-800);
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
    @media (min-width: $pc) {
      font-size: 22px;
      line-height: 1.2;
      letter-spacing: 1px;
    }
  }
  // .price-container-inner__right-col
  &__right-col {
  }
  // .price-container-inner__name-price
  &__name-price {
    color: var(--Banya-Graphite-200);
    font-size: 10px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    @media (min-width: $pc) {
      font-size: 12px;
      letter-spacing: 0.12px;
    }
  }
}
.old-price-box {
  display: flex;
  align-items: center;
  gap: 2px;
  span {
    color: var(--Banya-Brown-500);
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.1px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    @media (min-width: $pc) {
      font-size: 12px;
      letter-spacing: 0.12px;
    }
  }
  // .old-price-box__icon-holder
  &__icon-holder {
    width: 12px;
    height: 12px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}