.blog__page {
  background: var(--Banya-Base-color-White-100);
}
.blog {
  background: var(--Banya-Base-color-White-100);
  margin-bottom: 32px;
  // .blog__main
  &__main {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px;
    flex: 1 0 0;
    flex-wrap: wrap;
    @media (min-width: $pc) {
      margin-top: 48px;
      display: flex;
      min-width: 876px;
      max-width: 100%;
      align-items: flex-start;
      align-content: flex-start;
      gap: 48px 24px;
      flex: 1 0 0;
      flex-wrap: wrap;
    }
  }

  // .blog__top
  &__top {
    display: flex;
    min-width: 256px;
    max-width: 800px;
    padding: 32px 0 16px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    .heading__right-col {
      width: 100%;
      @media (min-width: $pc) {
        &:before {
          width: 100%;
        }
      }
    }
    @media (min-width: $pc) {
      min-width: 1280px;
      max-width: 100%;
      flex-direction: row;
      padding: 48px 0 32px 0px;
      gap: 24px;
      align-items: center;
    }
    .heading__title-box {
      @media (min-width: $pc) {
        max-width: fit-content;
      }
    }
  }

  // .blog__main-box
  &__main-box {
    order: 2;
    display: flex;
    min-width: 256px;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    @media (min-width: $pc) {
     width: 68%;
      flex: inherit;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  // .blog__main-card
  &__main-card {
    display: flex;
    height: 376px;
    min-width: 256px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    @media (min-width: $pc) {
      min-width: 273px;
      height: 476px;
      width: 47%;
      cursor: pointer;
    }
  }

  // .blog__main-card-img
  &__main-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    opacity: 0.9;
    height: 215px;
    max-height: 215px;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      overflow: hidden;
    }
    @media (min-width: $pc) {
      height: 292px;
      min-height: 292px;
      padding: 16px 16px 0 16px;
      box-sizing: border-box;
    }
  }

  // .blog__main-card-content
  &__main-card-content {
    display: flex;
    padding: 24px 16px 16px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    @media (min-width: $pc) {
      padding: 32px 32px 24px 32px;
    }
  }

  // .blog__main-card-content-title
  &__main-card-content-title {
    color: var(--Banya-Graphite-800);
    text-overflow: ellipsis;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-left: 28px;
  }

  // .blog__main-card-content-text
  &__main-card-content-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: var(--Banya-Graphite-500);
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 250;
    line-height: 1.3;
    overflow: hidden;
    padding-left: 28px;
    @media (min-width: $pc) {
      font-size: 14px;
      font-style: normal;
      font-weight: 250;
      line-height: 1.5;
    }
  }

  // .blog__main-card-content-link
  &__main-card-content-link {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    gap: 8px;
    font-size: 12px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    margin-left: auto;
  }

  // .blog__main-tag
  &__main-tag {
    order: 1;
    border-radius: 16px;
    background: var(--Banya-Base-color-Black-3);
    display: flex;
    min-width: 256px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    h2 {
      color: var(--Banya-Graphite-800);
      font-size: 22px;
      font-weight: 250;
      line-height: 1.2;
      letter-spacing: 1px;
      text-transform: uppercase;
      @media (min-width: $pc) {
        color: var(--Banya-Graphite-800);
        font-size: 32px;
      }
    }
    @media (min-width: $pc) {
      display: flex;
      min-width: 276px;
      padding: 24px;
      flex: none;
      order: 3;
      width: 32%;
      height: fit-content;
      margin: 16px 0;
    }
  }

  // .blog__main-tag-box
  &__main-tag-box {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 4px;
    flex-wrap: wrap;
  }

  // .blog__main-tag-box-link
  &__main-tag-box-link {
    display: flex;
    padding: 4px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Banya-Graphite-100);
    color: var(--Banya-Graphite-600);
    font-weight: 250;
    line-height: 1.4;
    transition: all 0.4s;
    &:hover {
      color: var(--Banya-Brown-50);
      border-radius: 8px;
      border: 1px solid var(--Banya-Graphite-100);
      background: var(--Banya-Graphite-source);
    }
  }
}
