.pagination {
  display: flex;
  padding: 24px 0px;
  align-items: flex-start;
  align-self: stretch;

  // .pagination__line
  &__line {
  }

  // .pagination__button
  &__button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--Banya-Graphite-100);
    font-weight: 250;
    line-height:1.4;
    gap: 4px;
    padding: 4px 6px;
    height: 28px;
    @media (min-width: $pc) {
      padding: 10px 8px;
    }
    span {
      font-weight: 250;
      line-height:1.4;
      display: none;
    }
  }
}

.activeFake {
  color: var(--Banya-Brown-50);
  border-radius: 8px;
  border: 1px solid var(--Banya-Graphite-100);
  background: var(--Banya-Graphite-source);
  span {
    color: var(--Banya-Brown-50);
  }
}

.pagination-row {
  display: flex;
  align-items: center;
  gap: 4px;
  @media (min-width: $pc) {
    gap: 12px;
  }
}
