.df-472 {
  @media (min-width: $pc) {
    @include adaptiveValue("padding-left", 472, 352, 2, 1400, 1280);
    padding-right: 52px;
    max-width: 100%;
    margin: unset;
  }
}
.df-372 {
  @media (min-width: $pc) {
    @include adaptiveValue("padding-left", 372, 352, 2, 1300, 1280);
    padding-right: 52px;
    max-width: 100%;
    margin: unset;
  }
}
.df-124 {
  @media (min-width: $pc) {
    @include adaptiveValue("padding-left", 124, 24, 2, 1380, 1280);
    padding-right: 52px;
    max-width: 100%;
    margin: unset;
  }
}
.df-820 {
  @media (min-width: $pc) {
    @include adaptiveValue("padding-right", 820, 405, 2, 1820, 1280);
    max-width: 100%;
    margin: unset;
  }
}
.df-872 {
  @media (min-width: $pc) {
    @include adaptiveValue("padding-left", 872, 472, 2, 1920, 1520);
    padding-left: 472px;
    padding-right: 52px;
    max-width: 100%;
    margin: unset;
  }
}
.df-320 {
  @media (min-width: $pc) {
    @include adaptiveValue("padding-right", 372, 132, 2, 1520, 1280);
    max-width: 100%;
    margin: unset;
  }
}
.demon-card {
  display: flex;
  flex-direction: column;
  min-width: 256px;
  flex: 1 0 0;
  border-radius: 16px;
  background: var(--Banya-Base-color-White-100);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.4s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
    }
  }
  &:active {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  }
  @media (min-width: $pc) {
    flex-direction: row;
    border-radius: 24px;
  }
  // .demon-card__left-col
  &__left-col {
    @media (min-width: $pc) {
      width: 50%;
    }
  }
  // .demon-card__image-holder
  &__image-holder {
    height: 292px;
    padding: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
    @media (min-width: $pc) {
      height: 436px;
      padding: 16px;
      img {
        border-radius: 16px;
      }
    }
  }
  // .demon-card__right-col
  &__right-col {
    padding: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    @media (min-width: $pc) {
      width: 50%;
      justify-content: space-between;
      padding: 32px 48px 56px;
    }
  }
  // .demon-card__heading
  &__heading {
  }
  // .demon-card__text-holder
  &__text-holder {
    font-size: 12px;
    font-weight: 250;
    line-height: 1.3;
    p {
      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
    @media (min-width: $pc) {
      font-size: $fontSize;
      line-height: 1.5;
    }
  }
  .heading {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    // .heading__top
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: -12px;
        left: 0;
        background: var(--Banya-Brown-100);
        width: 100%;
        height: 1px;
      }
    }
    // .heading__title
    &__title {
      color: var(--Banya-Graphite-800);
      font-family: "Jeferson", sans-serif;
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      @media (min-width: $pc) {
        font-size: 22px;
        line-height: 1.3;
      }
    }
    // .heading__logo-holder
    &__logo-holder {
      width: 100%;
      max-width: 76px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media (min-width: $pc) {
        max-width: 100px;
      }
    }
    // .heading__bottom
    &__bottom {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
    // .heading__icon-holder
    &__icon-holder {
      display: flex;
      &::before, &::after {
        font-size: 16px;
      }
    }
    // .heading__subtitle
    &__subtitle {
      color: var(--Banya-Brown-500, #958464);
      font-weight: 250;
      line-height: 1.5;
    }
  }
  .button {
    align-self: flex-end;
  }
}
.heading {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  @media (min-width: $pc) {
    row-gap: 24px;
  }
  &--full {
    .heading__title-box {
      @media (min-width: $pc) {
        max-width: 1000px;
      }
    }
    .heading__right-col {
      @media (min-width: $pc) {
        min-width: 220px;
      }
    }
  }
  // .heading__top
  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
  }
  // .heading__title-box
  &__title-box {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    padding-left: 12px;
    position: relative;
    min-width: 256px;
    flex: 1 0 0;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 2px;
      background: var(--Banya-Brown-100);
    }
    @media (min-width: $pc) {
      flex: none;
      width: 100%;
      max-width: 591px;
      row-gap: 8px;
    }
    //&--facilities{
    //  @media (min-width: $pc) {
    //      max-width: 960px;
    //  }
    //}
  }
  // .heading__subtitle
  &__subtitle {
    color: var(--Banya-Graphite-800);
  }
  // .heading__title
  &__title {
    color: var(--Banya-Brown-500);
  }
  // .heading__right-col
  &__right-col {
    padding-left: 12px;
    min-width: 256px;
    flex: 1 0 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: var(--Banya-Brown-100);
    }
    @media (min-width: $pc) {
      &::before {
        width: calc(100% - 72px);
      }
    }
  }
  // .heading__icon-holder
  &__icon-holder {
    display: none;
    @media (min-width: $pc) {
      display: flex;
      justify-content: flex-end;
    }
  }
  // .heading__bottom
  &__bottom {
  }
  // .heading__text-holder
  &__text-holder {
    width: 100%;
    max-width: 376px;
    @media (min-width: $pc) {
      max-width: 676px;
    }
  }
  // .heading__logo-holder
  &__logo-holder {
  }
  // .heading__logos-holder
  &__logos-holder {
    width: 75px;
    height: 24px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: $pc) {
      width: 125px;
      height: 40px;
      margin-right: 8px;
    }
  }
  &--dark {
    .heading__title-box {
      &::before {
        background: var(--Banya-Brown-400);
      }
    }
    .heading__subtitle {
      color: var(--Banya-Brown-400);
    }
    .heading__title {
      color: var(--Banya-Brown-50);
    }
    .heading__right-col {
      &::before {
        background: var(--Banya-Brown-900);
      }
    }
    .heading__text-holder {
      color: var(--Banya-Graphite-400);
    }
    .heading__icon-holder {
      width: fit-content;
      padding: 6px;
      border-radius: 50%;
      margin-left: auto;
      background: var(--Banya-Base-color-White-10);
      img {
        width: 24px;
        height: 24px;
      }
      @media (min-width: $pc) {
        padding: 8px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
  // .heading__right-col--without-icon
  &__right-col--without-icon{
    &::before{
      width: 100%;
    }
  }
}
.nav-slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  gap: 24px;
  padding: 0 16px;
  @media (min-width: $pc) {
    padding: 0;
    max-width: 1396px;
  }
  .swiper-button-prev {
    &::before {
      font-size: 16px;
      color: var(--Banya-Graphite-600);
    }
    &::after {
      content: "";
    }
  }
  .swiper-button-next {
    &::after {
      font-size: 16px;
      color: var(--Banya-Graphite-600);
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    width: 32px;
    height: 32px;
    font-size: 16px;
    color: var(--Banya-Graphite-600);
    transition: all 0.4s ease 0s;
    @media (min-width: $pc) {
      margin-top: 32px;
    }
    @media (any-hover: hover) {
      &:hover {
        &::before, &::after {
          color: var(--Banya-Green-600);
        }
      }
    }
    &.swiper-button-lock {
      display: none;
    }
    &:active {
      &::before, &::after {
        color: var(--Banya-Green-800);
      }
    }
    &.swiper-button-disabled {
      opacity: 1;
      &::before {
        color: var(--Banya-Graphite-200);
      }
      &::after {
        color: var(--Banya-Graphite-200);
      }
    }
  }
  .swiper-scrollbar {
    position: static;
    margin-top: 16px;
    height: 2px;
    @media (min-width: $pc) {
      margin-top: 32px;
    }
    &.swiper-lock {
      display: none;
    }
    &--lighter {
      background: var(--Banya-Base-color-Black-3);
      .swiper-scrollbar-drag {
        background: var(--Banya-Brown-100);
      }
    }
    &--darker {
      background: var(--Banya-Base-color-White-5);
      .swiper-scrollbar-drag {
        background: var(--Banya-Base-color-White-10);
      }
    }
  }
  // .nav-slider__scrollbar-wrapper
  &__scrollbar-wrapper {
    width: 100%;
    @media (min-width: $pc) {
      max-width: 1284px;
    }
  }
}
.category {
  width: fit-content;
  color: var(--Banya-Brown-50);
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  padding: 8px 4px;
  border-radius: 8px;
  background: var(--Banya-Graphite-source);
  @media (min-width: $pc) {
    font-size: 12px;
    letter-spacing: 0.12px;
    padding: 12px 8px;
  }
}
.card {
  background: var(--Banya-Base-color-White-100);
}
.pause-btn, .full-video {
  border-radius: 50%;
  border: 1px solid var(--Banya-Base-color-White-100);
  background: var(--Banya-Base-color-White-10);
  padding: 7px;
  position: absolute;
  right: 16px;
  cursor: pointer;
  font-size: 16px;
  z-index: 5;
  &::before, &::after {
    color: var(--Banya-Base-color-White-100);
  }
}
.pause-btn {
  bottom: 16px;
}
.full-video {
  top: 16px;
}
.skip-button {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  padding: 5px 5px 10px 5px;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--Banya-Brown-300);
  color: var(--Banya-Brown-700);
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  position: sticky;
  left: 100%;
  transform: translate(-16px, 24px);
  z-index: 5;
  top: 78px;
  transition: background 0.4s ease 0s;
  &::after {
    font-size: 16px;
    color: var(--Banya-Brown-700);
  }
  @media (any-hover: hover) {
    &:hover {
      background: var(--Banya-Brown-400);
    }
  }
  &:active {
    background: var(--Banya-Brown-500);
  }
  &.blocked {
    pointer-events: none;
    cursor: default;
    background: var(--Banya-Brown-300);
  }
  @media (min-width: $pc) {
    transform: translate(-52px, 48px);
  }
}
.modal-image, .modal-video {
  width: 100%;
  max-width: 800px;
  border-radius: 16px;
  background: var(--Banya-Base-color-Dark-Background);
  padding: 8px;
  @media (min-width: $pc) {
    max-width: 1176px;
    padding: 16px;
    border-radius: 24px;
  }
  &__image-holder, &__video-holder {
    width: 100%;
    height: 552px;
    img, video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
    @media (min-width: $pc) {
      height: 644px;
      img, video {
        border-radius: 16px;
      }
    }
  }
  .f-button.is-close-btn {
    width: 26px;
    height: 26px;
    top: 16px !important;
    right: 16px !important;
    border-radius: 50%;
    padding: 6px;
    border: 1px solid var(--Banya-Base-color-White-100);
    background: var(--Banya-Base-color-White-10);
    transition: background 0.4s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background: var(--Banya-Base-color-White-25);
      }
    }
    &:active {
      background: var(--Banya-Base-color-White-50);
    }
    @media (min-width: $pc) {
      width: 32px;
      height: 32px;
      top: 32px !important;
      right: 32px !important;
      padding: 8px;
    }
  }
}
.accordion {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  @media (min-width: $pc) {
    row-gap: 24px;
  }
  // .accordion__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    &.accordion-active {
      .accordion__title {
        background-color: var(--Banya-Base-color-Black-3);
        color: var(--Banya-Brown-500);
      }
      .accordion__close::before {
        width: 0;
        height: 0;
      }
      .accordion__close::after {
        transform: translate(-50%, -50%) rotate(90deg);
        background-color: var(--Banya-Brown-500);
      }
    }
  }
  // .accordion__inner
  &__inner {
  }
  // .accordion__title
  &__title {
    line-height: 1.2;
    text-align: left;
    padding: 12px 24px 12px 8px;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    color: var(--Banya-Brown-500);
    @media (min-width: $pc) {
      color: var(--Banya-Graphite-800);
      padding: 19.5px 40px 19.5px 16px;
    }
  }
  // .accordion__content
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    @media (min-width: $pc) {
      padding-left: 32px;
    }
  }
  // .accordion__text-holder
  &__text-holder {
    font-weight: 200;
    margin-top: 16px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    @media (min-width: $pc) {
      font-size: $fontSize;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    p {
      &:not(:last-child) {
        margin-bottom: 21px;
      }
    }
  }
  // .accordion__close
  &__close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 12.5px;
    right: 5px;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 1px;
      background: var(--Banya-Brown-500);
      border-radius: 2px;
      transition: all 0.4s ease 0s;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 100%;
      background: var(--Banya-Brown-500);
      border-radius: 2px;
      transition: all 0.4s ease 0s;
    }
    @media (min-width: $pc) {
      width: 24px;
      height: 24px;
      right: 16px;
      &::before, &::after {
        background: var(--Banya-Graphite-800);
      }
    }
  }
  // .accordion__link-box
  &__link-box {
    display: flex;
    align-items: center;
    gap: 8px;
    @media (min-width: $pc) {
      gap: 16px;
    }
  }
  // .accordion__link
  &__link {
  }
}
.noise-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 200px 200px;
  background-repeat: repeat;
  opacity: 0.1;
  pointer-events: none;
}
.breadcrumbs {
  padding: 128px 0 32px;
  @media (min-width: $pc) {
    padding: 32px 0;
  }
  // .breadcrumbs__container
  &__container {
    & > span {
      display: flex;
      flex-wrap: wrap;
      row-gap: 8px;
      column-gap: 4px;
      align-items: center;
      width: fit-content;
      padding: 7px;
      border-radius: 8px;
      border: 1px solid var(--Banya-Base-color-White-10);
      background: var(--Banya-Base-color-Dark-Background);
      @media (min-width: $pc) {
        padding: 15px;
        border-radius: 12px;
        & > span:hover + .brDevider {
          svg {
            path {
              fill: var(--Banya-Brown-50);
            }
          }
        }
      }
      & > span:active + .brDevider {
        svg {
          path {
            fill: var(--Banya-Brown-100);
          }
        }
      }
    }
    a {
      color: var(--Banya-Green-500);
      font-size: 12px;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: 0.12px;
      text-transform: uppercase;
      transition: color 0.4s;
      @media (min-width: $pc) {
        &:hover {
          color: var(--Banya-Brown-50);
        }
      }
      &:active {
        color: var(--Banya-Brown-100);
      }
    }
  }

  .brDevider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    svg {
      path {
        transition: fill 0.4s;
      }
    }
  }
  .breadcrumb_last {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.12px;
    text-transform: uppercase;
  }
}
.breadcrumbs-wrapper{
  position: relative;
  // .breadcrumbs-wrapper__image-holder
  &__image-holder {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.2;
    }
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #14120D;
      opacity: 0.2;
    }
  }
}
.images-container {
  width: 100%;
  height: 376px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.tooltip-box {
  position: absolute;
  bottom: calc(100% + 20px);
  left: 0;
  border-radius: 12px;
  background: var(--Banya-Base-color-White-100);
  border: 1px solid var(--Banya-Graphite-800);
  padding: 8px 24px 8px 12px;
  width: 100%;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s;
  z-index: 15;
  @media (min-width: $pc) {
    max-width: 276px;
    padding: 16px;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -11px;
    left: 16px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: var(--Banya-Base-color-White-100);
    border-right: 1px solid var(--Banya-Graphite-800);
    border-bottom: 1px solid var(--Banya-Graphite-800);
  }
  // .tooltip-box__text-box
  &__text-box {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }
  // .tooltip-box__title
  &__title {
    color: var(--Banya-Graphite-800);
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    @media (min-width: $pc) {
      font-size: $fontSize;
      letter-spacing: 1px;
    }
  }
  // .tooltip-box__text-holder
  &__text-holder {
    color: var(--Banya-Graphite-400);
    font-size: 12px;
    font-weight: 200;
    line-height: 1.3;
  }
  // .tooltup-box__close
  &__close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    right: 4px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: $pc) {
      display: none;
    }
  }
  &.show {
    visibility: visible;
    opacity: 1;
  }
}
.badge {
  padding: 8px 4px;
  color: var(--Banya-Brown-50);
  font-size: 10px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  border-radius: 8px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  @media (min-width: $pc) {
    padding: 12px 8px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.12px;
    border-radius: 10px;
    column-gap: 2px;
  }
  &--brown {
    background: var(--Banya-Brown-400);
  }
  &--green {
    background: var(--Banya-Green-800);
  }
  &--graphite {
    background: var(--Banya-Graphite-source);
  }
  // .badge__icon-holder
  &__icon-holder {
    width: 12px;
    height: 12px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.dynamic-block {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  // .dynamic-block__row
  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
  }
  // .dynamic-block__left-col
  &__left-col {
    min-width: 240px;
  }
  // .dynamic-block__session-container
  &__session-container {
  }
  // .dynamic-block__right-col
  &__right-col {
    flex: 1 0 0;
    min-width: 240px;
  }
  // .dynamic-block__btn
  &__btn {
    align-self: center;
    &.button {
      color: var(--Banya-Brown-900);
      text-decoration-line: underline;
    }
  }
  .item-session-container {
    // .item-session-container__title
    &__title {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
      text-transform: none;
    }
    // .item-session-container__value
    &__value {
      border-radius: 10px;
      background: var(--Banya-Graphite-50);
      padding: 10px 8px;
    }
    // .item-session-container__icon-holder
    &__icon-holder {
    }
  }
}
.wrapper-session {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  // .wrapper-session__items
  &__items {
    display: flex;
    align-items: center;
    gap: 16px;
    min-width: 240px;
  }
  // .wrapper-session__title
  &__title {
    color: var(--Banya-Graphite-800);
    font-weight: 400;
    line-height: 1.2;
  }
  // .wrapper-session__item
  &__item {
    color: var(--Banya-Graphite-800);
    font-weight: 200;
    line-height: 1.4;
    display: flex;
    align-items: center;
    column-gap: 4px;
    padding: 8px 10px;
    border-radius: 10px;
    background: var(--Banya-Graphite-50);
  }
  // .wrapper-session__icon-holder
  &__icon-holder {
    width: 14px;
    height: 14px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .price-container {
    min-width: 225px;
    flex: 1 0 0;
  }
}
.choose-booking {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  // .choose-booking__box
  &__box {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    @media (min-width: $pc) {
      row-gap: 16px;
    }
  }
  // .choose-booking__notes
  &__notes {
    @media (min-width: $pc) {
      margin-top: auto;
    }
  }
  // .choose-booking__title
  &__title {
    color: var(--Banya-Graphite-800);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    @media (min-width: $pc) {
      font-size: 22px;
      font-weight: 200;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
  // .choose-booking__items
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  // .choose-booking__item
  &__item {
    color: var(--Banya-Graphite-600);
    font-size: 14px;
    font-weight: 200;
    line-height: 1.4;
    border-radius: 10px;
    border: 1px solid var(--Banya-Graphite-100);
    width: fit-content;
    min-width: 40px;
    height: 40px;
    position: relative;
    input[type="radio"] {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
    }
    label {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      padding: 8px 10px;
      cursor: pointer;
      transition: background 0.4s, color 0.4s;
    }
    input[type="radio"]:checked ~ label {
      background: var(--Banya-Graphite-source);
      color: var(--Banya-Brown-50);
    }
    @media (min-width: $pc) {
      &:hover {
        label {
          background: var(--Banya-Graphite-source);
          color: var(--Banya-Brown-50);
        }
      }
    }
    &:active {
      label {
        background: var(--Banya-Graphite-source);
        color: var(--Banya-Brown-50);
      }
    }
  }
}
.notes {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  // .notes__item
  &__item {
    display: flex;
    gap: 8px;
  }
  // .notes__icon-holder
  &__icon-holder {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .notes__text-holder
  &__text-holder {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.12px;
    text-transform: uppercase;
  }
}
.tag-cloud {
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border-radius: 16px;
  background: var(--Banya-Base-color-Black-3);
  @media (min-width: $pc) {
    padding: 24px;
  }
  // .tag-cloud__title
  &__title {
    color: var(--Banya-Graphite-800);
    font-size: 22px;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
    @media (min-width: $pc) {
      font-size: 32px;
    }
  }
  // .tag-cloud__content
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  // .tag-cloud__link
  &__link {
    display: inline-block;
    font-weight: 200;
    line-height: 1.4;
    padding: 4px 6px;
    border-radius: 8px;
    border: 1px solid var(--Banya-Graphite-100);
    transition: background 0.4s, color 0.4s;
    @media (min-width: $pc) {
      &:hover {
        background: var(--Banya-Graphite-source);
        color: var(--Banya-Brown-50);
      }
    }
    &:active {
      background: var(--Banya-Graphite-source);
      color: var(--Banya-Brown-50);
    }
  }
}
.pagination-row {
  display: flex;
  align-items: center;
  gap: 8px;
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    @media (min-width: $pc) {
      gap: 12px;
    }
  }
  &__line {
    flex: 1 0 0;
    display: inline-block;
    border-top: 1px dashed var(--Banya-Graphite-200);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -4px;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid var(--Banya-Graphite-100);
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
      border-left: 1px solid var(--Banya-Graphite-100);
      transform: rotate(45deg) translateY(calc(-50% - 3px));
    }
  }
}
.fakeBtnFacet {
  width: fit-content;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid var(--Banya-Graphite-100);
  padding: 4px 6px;
  transition: background 0.4s;
  cursor: pointer;
  font-size: 0;
  img {
    width: 14px;
    height: 14px;
    object-fit: cover;
  }
  @media (min-width: $pc) {
    font-size: $fontSize;
    font-weight: 200;
    line-height: 1.4;
    &:hover {
      background: var(--Banya-Graphite-source);
      img {
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(58deg) brightness(108%) contrast(107%);
      }
    }
  }
  &:active {
    background: var(--Banya-Graphite-source);
    img {
      filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(58deg) brightness(108%) contrast(107%);
    }
  }
}
.facetwp-page {
  font-weight: 200;
  line-height: 1.4;
  padding: 4px 6px;
  border-radius: 8px;
  border: 1px solid var(--Banya-Graphite-100);
  transition: background 0.4s, color 0.4s;
  cursor: pointer;
  @media (min-width: $pc) {
    &:hover {
      background: var(--Banya-Graphite-source);
      color: var(--Banya-Brown-50);
    }
  }
  &:active {
    background: var(--Banya-Graphite-source);
    color: var(--Banya-Brown-50);
  }
  &.active {
    background: var(--Banya-Graphite-source);
    color: var(--Banya-Brown-50);
  }
}
.facetwp-pager {
  display: flex;
  align-items: center;
  gap: 4px;
  @media (min-width: $pc) {
    gap: 12px;
  }
}
.marquee {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  &__item {
    color: var(--Banya-Green-800);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin-right: 16px;
    @media (min-width: $pc) {
      font-size: 22px;
      font-weight: 200;
      line-height: 1.3;
    }
  }
}
.marquee > span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 60s linear infinite;
}
.marquee-wrapper {
  width: fit-content;
  display: flex;
  align-items: center;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.price-container {
  padding: 8px;
  position: relative;
  display: flex;
  gap: 4px;
  // .price-container--buttons
  &--buttons {
    flex-wrap: wrap;
    row-gap: 12px;
    .price-container__line {
      display: none;
    }
    .price-container__left-col, .price-container__right-col {
      min-width: 200px;
      flex: 1 0 0;
    }
    .price-container-inner__left-col, .price-container-inner__button, .price-container-inner__button {
      width: 100%;
    }
    .price-container-inner__button {
      justify-content: center;
    }
    @media (min-width: $pc) {
      .price-container__left-col, .price-container__right-col {
        min-width: 256px;
      }
    }
    @media (min-width: 1800px) {
      flex-wrap: nowrap;
      .price-container__line {
        display: block;
      }
    }
  }
  // .price-container--including
  &--including {
    gap: 8px;
    @media (min-width: $pc) {
      gap: 16px;
    }
    .price-container-inner__current-price {
      @media (min-width: $pc) {
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: normal;
      }
      &--small {
        color: var(--Banya-Graphite-600);
        font-size: 12px;
        font-weight: 200;
        line-height: 1.3;
        margin-left: 8px;
        @media (min-width: $pc) {
          font-size: 12px;
          line-height: 1.2;
        }
      }
    }
    .old-price-box__icon-holder {
      width: 16px;
      height: 16px;
      @media (min-width: $pc) {
        width: 24px;
        height: 24px;
      }
    }
  }
  // .price-container__tooltip-box
  &__tooltip-box {
  }
  // .price-container__icon-holder
  &__icon-holder {
    position: absolute;
    right: 0;
    top: -8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .price-container__left-col
  &__left-col {
  }
  // .price-container__line
  &__line {
    flex: 1 0 0;
    position: relative;
    span {
      display: block;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-top: 1px dashed var(--Banya-Graphite-100);
    }
  }
  // .price-container__right-col
  &__right-col {
  }
  // .price-container--without-hover
  &--without-hover {
    cursor: default;
  }
}
.price-container-inner {
  display: flex;
  align-items: center;
  gap: 4px;
  // .price-container-inner__left-col
  &__left-col {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    @media (min-width: $pc) {
      row-gap: 4px;
    }
  }
  // .price-container-inner__old-price-box
  &__old-price-box {
  }
  // .price-container-inner__title
  &__title {
    color: var(--Banya-Brown-500);
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    @media (min-width: $pc) {
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: 0.12px;
    }
  }
  // .price-container-inner__current-price
  &__current-price {
    color: var(--Banya-Graphite-800);
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
    @media (min-width: $pc) {
      font-size: 22px;
      line-height: 1.2;
      letter-spacing: 1px;
    }
  }
  // .price-container-inner__right-col
  &__right-col {
  }
  // .price-container-inner__name-price
  &__name-price {
    color: var(--Banya-Graphite-200);
    font-size: 10px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    @media (min-width: $pc) {
      font-size: 12px;
      letter-spacing: 0.12px;
    }
  }
  // .price-container-inner__btn
  &__btn {
    font-size: 12px;
    color: var(--Banya-Brown-50);
    font-weight: 200;
    line-height: 1.4;
    border-radius: 10px;
    padding: 8px 10px;
    border: 1px solid var(--Banya-Graphite-100);
    background: var(--Banya-Graphite-source);
    @media (min-width: $pc) {
      font-size: $fontSize;
    }
  }
  // .price-container-inner__list
  &__list {
    color: var(--Banya-Graphite-800);
    font-weight: 200;
    line-height: 1.4;
    @media (min-width: $pc) {
      font-size: 16px;
    }
  }
  // .price-container-inner__current-date
  &__current-date{
    color: var(--Banya-Graphite-800);
    font-weight: 200;
    line-height: 1.4;
    padding: 4px 6px;
    border-radius: 8px;
    background: var(--Banya-Graphite-50);
    @media (min-width: $pc) {
      padding: 10px 8px;
      border-radius: 10px;
    }
  }
}
.accent-block {
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  border-radius: 12px;
  background: var(--Banya-Base-color-Black-3);
  @media (min-width: $pc) {
    padding: 24px;
    row-gap: 16px;
  }
  // .accent-block__book-mark
  &__book-mark {
    position: absolute;
    top: 0;
    right: 30px;
    width: 18px;
    height: 18px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .accent-block__title
  &__title {
    color: var(--Banya-Graphite-800);
    font-size: 22px;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
    @media (min-width: $pc) {
      font-size: 32px;
    }
  }
  // .accent-block__text-holder
  &__text-holder {
    font-size: 12px;
    font-weight: 200;
    line-height: 1.3;
    p {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    @media (min-width: $pc) {
      font-size: $fontSize;
      line-height: 1.5;
      p {
        &:not(:last-child) {
          margin-bottom: 21px;
        }
      }
    }
  }
  // .accent-block__link
  &__link {
    &.links {
      font-size: 12px;
      letter-spacing: 0.12px;
    }
  }
  // .accent-block__session-container
  &__session-container {
  }
  // .accent-block__price-container
  &__price-container {
    margin-top: auto;
    position: relative;
    z-index: 5;
    @media (min-width: $pc) {
      cursor: pointer;
      &:hover {
        .tooltip-box {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  // .accent-block__button
  &__button {
    &.button {
      width: 100%;
      justify-content: center;
      color: var(--Banya-Brown-900);
      &::after {
        color: var(--Banya-Brown-900);
      }
    }
  }
  // .two-column__choose
  &__choose {
  }
  // .accent-block__button-box
  &__button-box {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    .button {
      flex: 1 0 0;
      min-width: 240px;
    }
  }
}
.session-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px 0;
  &--including {
    padding: 0;
  }
  // .session-container__item
  &__item {
  }
}
.item-session-container {
  display: flex;
  align-items: center;
  gap: 8px;
  // .item-session-container__range
  // .item-session-container__value
  &__value, &__range {
    width: fit-content;
    font-weight: 200;
    line-height: 1.4;
    padding: 4px 6px;
    border-radius: 8px;
    border: 1px solid var(--Banya-Graphite-100);
  }
  // .item-session-container__value
  &__value {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }
  // .item-session-container__title
  &__title {
    color: var(--Banya-Graphite-800);
    font-size: 10px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.1px;
    text-transform: uppercase;
  }
  // .item-session-container__icon-holder
  &__icon-holder {
    width: 14px;
    height: 14px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .item-session-container__line
  &__line {
    flex: 1 0 0;
    position: relative;
    span {
      display: block;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-top: 1px dashed var(--Banya-Graphite-100);
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 3px;
        width: 8px;
        height: 8px;
        border-top: 1px solid var(--Banya-Graphite-100);
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid var(--Banya-Graphite-100);
        transform: rotate(45deg) translateY(calc(-50% - 3px));
      }
    }
  }
}
.old-price-box {
  display: flex;
  align-items: center;
  gap: 2px;
  span {
    color: var(--Banya-Brown-500);
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.1px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    @media (min-width: $pc) {
      font-size: 12px;
      letter-spacing: 0.12px;
    }
    &.text-decor-normal {
      text-decoration-line: none;
    }
  }
  // .old-price-box__icon-holder
  &__icon-holder {
    width: 12px;
    height: 12px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}