.footer {
  padding: 32px 0 24px;
  background: var(--Banya-Brown-100);
  // .footer__container
  &__container {
  }
  // .footer__content
  &__content {
    border-radius: 12px;
    outline: 2px solid var(--Banya-Base-color-Black-3);
    background: var(--Banya-Brown-50);
    padding: 24px 16px 16px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 736px 933px;
    background-position: 106px 238px;
    @media (min-width: $pc) {
      padding: 48px 32px 16px;
      background-position: 451px 275px;
    }
  }
  // .footer__menu
  &__menu {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  // .footer__content-box
  &__content-box {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    @media (min-width: $pc) {
      display: flex;
      flex-wrap: wrap;
      gap: 64px;
      &:not(:last-child) {
        margin-bottom: 48px;
      }
    }
  }
  // .footer__menu__date
  &__menu__date {
  }
  // .footer__subscribe
  &__subscribe {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    @media (min-width: $pc) {
      flex: 1 0 0;
      align-items: center;
    }
  }
  // .footer__copyright
  &__copyright {
  }
}
.footer-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 32px;
  @media (min-width: $pc) {
    flex: 1 0 0;
    min-width: 712px;
  }
  // .footer-menu__col
  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 16px;
    flex: 1 0 0;
    min-width: 148px;
    @media (min-width: $pc) {
      text-align: left;
      row-gap: 24px;
    }
    h3 {
      color: var(--Banya-Brown-500);
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.12px;
      text-transform: uppercase;
      @media (min-width: $pc) {
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
    a {
      text-transform: none;
    }
  }
  // .footer-menu__list
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    @media (min-width: $pc) {
      row-gap: 12px;
    }
    a {
      text-transform: none;
    }
  }
  // .footer-menu__date
  &__date {
    font-size: 12px;
    font-weight: 250;
    line-height: 1.4;
    @media (min-width: $pc) {
      font-size: 14px;
    }
  }
  // .footer-menu__buttons
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .button {
      text-transform: uppercase;
    }
  }
}
.subscribe {
  border-radius: 12px;
  background: var(--Banya-Green-800);
  padding: 24px 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: -160px;
    right: -10px;
    width: 407px;
    height: 468px;
    background-image: url("../img/sheet-green.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
    z-index: 1;
    @media (min-width: $pc) {
      top: 14px;
      right: -37px;
    }
  }
  @media (min-width: $pc) {
    padding: 64px 32px;
    flex: 1 0 0;
    min-width: 376px;
  }
  // .subscribe__left-col
  &__left-col {
    flex: 1 0 0;
    min-width: 192px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    position: relative;
    z-index: 2;
    @media (min-width: $pc) {
      min-width: 280px;
      max-width: 376px;
    }
  }
  // .subscribe__title
  &__title {
    color: var(--Banya-Base-color-White-100);
    font-family: "Jeferson", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    @media (min-width: $pc) {
      font-size: 32px;
      line-height: 1.3;
    }
  }
  // .subscribe__text-holder
  &__text-holder {
    color: var(--Banya-Base-color-White-100);
    font-size: 12px;
    font-weight: 250;
    line-height: 1.3;
    width: 100%;
    max-width: 192px;
    @media (min-width: $pc) {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      max-width: 100%;
    }
  }
  // .subscribe__right-col
  &__right-col {
    flex: 1 0 0;
    min-width: 192px;
    position: relative;
    z-index: 2;
    @media (min-width: $pc) {
      min-width: 280px;
    }
  }
  .form {
    // .form__inner
    &__inner {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      @media (min-width: $pc) {
        gap: 12px;
      }
    }
    // .form__input-holder
    &__input-holder {
      flex: 1 0 0;
      min-width: 124px;
      @media (min-width: $pc) {
        min-width: 280px;
      }
      & > span {
        display: block;
        width: 100%;
      }
      input {
        width: 100%;
        color: var(--Banya-Graphite-200);
        font-size: 12px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0.12px;
        text-transform: none;
        padding: 9.5px 11px;
        border-radius: 8px;
        border: 1px solid transparent;
        transition: border 0.4s ease 0s;
        outline: none;
        &::placeholder {
          color: var(--Banya-Graphite-200);
          font-size: 12px;
          font-weight: 300;
          line-height: 1;
          letter-spacing: 0.12px;
          text-transform: uppercase;
        }
        @media (any-hover: hover) {
          &:hover {
            border: 1px solid var(--Banya-Brown-300);
          }
        }
        &:active, &:focus {
          outline: none;
          border: 1px solid var(--Banya-Brown-300);
        }
        @media (min-width: $pc) {
          padding: 19.5px 16px;
        }
      }
      // .form__input-holder--email
      &--email {
      }
    }
    // .form__button-holder
    &__button-holder {
      flex: 1 0 0;
      min-width: 124px;
      @media (min-width: $pc) {
        min-width: 280px;
      }
      .button {
        width: 100%;
        justify-content: center;
        padding: 10px 8px;
        @media (min-width: $pc) {
          padding: 20px;
        }
      }
    }
  }
}
.copyright {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-right: 100px;
  @media (min-width: $pc) {
    row-gap: 8px;
  }
  // .copyright__text-holder
  &__text-holder {
    color: var(--Banya-Graphite-400);
    font-size: 12px;
    font-weight: 250;
    line-height: 1.4;
  }
  .links {
    @media (min-width: $pc) {
      font-size: 12px;
      letter-spacing: 0.12px;
    }
  }
}
.agency-link {
  position: absolute;
  bottom: 0;
  right: 0;
}