.sidebar-menu-wrapper {
  width: 100%;
  position: fixed;
  top: 16px;
  padding: 0 32px;
  //left: 50%;
  //transform: translateX(-50%);
  z-index: 10;
  overflow: auto;
  max-height: calc(100vh - 50px);
  @media (min-width: $pc) {
    max-width: 276px;
    padding: 0;
    top: 32px;
    left: 32px;
  }
}
.sidebar-menu {
  width: 100%;
  position: relative;
  padding: 16px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 800px;
  border-radius: 16px;
  background: var(--Banya-Green-900);
  box-shadow: 0 0 4px 0 rgba(39, 83, 76, 0.50);
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  overflow: hidden;
  max-height: 72px;
  transition: max-height 0.4s ease-in-out;
  &.active {
    max-height: 780px;
    .menu {
      opacity: 1;
      visibility: visible;
    }
    .sidebar-menu__button {
      opacity: 1;
      visibility: visible;
    }
    .sidebar-menu__footer {
      opacity: 1;
      visibility: visible;
    }
  }
  //position: fixed;
  //top: 32px;
  //left: 32px;
  //z-index: 10;
  @media screen and (max-height: 660px) and (min-width: 1280px) {
    border-radius: 0;
  }
  @media (min-width: $pc) {
    border-radius: 24px;
    max-width: 276px;
    padding: 48px 24px 32px;
    transform: unset;
    position: static;
    max-height: unset;
  }
  // .sidebar-menu__header
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $pc) {
      padding-bottom: 16px;
      justify-content: center;
      position: relative;
      &::before {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--Banya-Base-color-White-10);
      }
    }
  }
  // .sidebar-menu__logo-holder
  &__logo-holder {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: $pc) {
      width: 100%;
      max-width: 150px;
    }
  }
  // .sidebar-menu__menu
  &__menu {
  }
  // .sidebar-menu__button
  &__button {
    &.button {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.6s ease 0s, visibility 0.6s ease 0s, color 0.4s ease 0s, background 0.4s ease 0s;
      align-self: center;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 1px;
      padding: 19.5px 24px;
      justify-content: center;
      color: var(--Banya-Brown-900);
      background: var(--Banya-Brown-300);
      @media (min-width: $pc) {
        width: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
  }
  // .sidebar-menu__footer
  &__footer {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease 0s, visibility 0.6s ease 0s;
    text-align: center;
    span {
      color: var(--Banya-Brown-100);
      font-size: 12px;
      font-weight: 250;
      line-height: 1.3;
      display: inline-block;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    @media (min-width: $pc) {
      text-align: left;
      opacity: 1;
      visibility: visible;
    }
  }
  // .sidebar-menu__connection
  &__connection {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  // .sidebar-menu__social-box
  &__social-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
  // .sidebar-menu__social
  &__social {
    display: flex;
    align-items: center;
    column-gap: 12px;
    a {
      &::before {
        transition: color 0.4s ease 0s;
        color: var(--Banya-Base-color-White-50);
      }
      @media (any-hover: hover) {
        &:hover {
          &::before {
            color: var(--Banya-Brown-50);
          }
        }
      }
      &:active {
        &::before {
          color: var(--Banya-Brown-100);
        }
      }
    }
  }
  .connection {
    &__link {
      align-self: center;
      width: fit-content;
      color: var(--Banya-Brown-50);
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      padding-left: 24px;
      position: relative;
      &::before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center center;
      }
      &--phone {
        &::before {
          background-image: url("../img/icon-phone.svg");
        }
      }
      &--email {
        &::before {
          background-image: url("../img/icon-letter.svg");
        }
      }
      @media (min-width: $pc) {
        align-self: flex-start;
      }
    }
  }
  .menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease 0s, visibility 0.6s ease 0s;
    overflow: auto;
    height: 390px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 12px;
    li {
      width: fit-content;
      a {
        width: fit-content;
        position: relative;
        display: inline-block;
        color: var(--Banya-Brown-50);
        font-size: 14px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 12px;
        border-radius: 10px;
        transition: all 0.4s ease 0s;
        @media (any-hover: hover) {
          &:hover {
            text-shadow: unset;
            background: var(--Banya-Base-color-White-5);
          }
        }
        &:active {
          text-shadow: unset;
          background: var(--Banya-Base-color-White-5);
        }
        &.blocked {
          text-shadow: unset;
          color: var(--Banya-Graphite-600);
          pointer-events: none;
          cursor: default;
          background: transparent;
        }
      }
    }
    @media (min-width: $pc) {
      opacity: 1;
      visibility: visible;
      padding-right: 24px;
      align-items: flex-start;
      height: 350px;
    }
  }
  .accordion {
    // .accordion__wrapper
    &__wrapper {
      &.accordion-active {
        .accordion__title {
          &.active {
            color: var(--Banya-Brown-50);
            background: var(--Banya-Base-color-White-5);
          }
        }
      }
    }
    // .accordion__inner
    &__inner {
    }
    // .accordion__title
    &__title {
      width: fit-content;
      padding: 12px;
      color: var(--Banya-Brown-50);
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: 1px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      column-gap: 8px;
      border-radius: 10px;
      margin: 0 auto;
      @media (min-width: $pc) {
        margin: 0;
        &:hover {
          background: var(--Banya-Base-color-White-5);
        }
      }
      &.active {
        .accordion__icon-holder {
          &::after {
            transform: translate(-50%, -50%) rotate(0deg);
          }
        }
      }
    }
    // .accordion__icon-holder
    &__icon-holder {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: var(--Banya-Brown-300);
      position: relative;
      &::before, &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 6px;
        background: var(--Banya-Green-900);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.4s ease 0s;
      }
      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
    // .accordion__content
    &__content {
    }
    // .accordion__text-holder
    &__text-holder {
      display: flex;
      flex-direction: column;
      padding: 16px 10px 16px 16px;
      @media (min-width: $pc) {
        padding: 16px 5px 16px 16px;
      }
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
        background: var(--Banya-Base-color-White-10);
      }
    }
    // .accordion__close
    &__close {
    }
  }
  .menu-button {
    &::after {
      transition: transform 0.4s ease 0s;
    }
    &.active {
      &::after {
        transform: rotate(180deg);
      }
    }
    @media (min-width: $pc) {
      display: none;
    }
  }
}
.link-indicator {
  text-shadow: 0 0 16px #FFFFFF;
  &::before {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--Banya-Green-300);
    border-radius: 50%;
  }
}
.button {
  // .button--primary
  &--primary {
  }
}


